
.avatar-img{
  border-radius: 50%;
  width: 330px;
  height: 330px;
  object-fit: cover;
}
.account-title{
  margin: 20px 30px;
  font-size: 20px;
  span{
    line-height: 2;
    color: #1a75ff;
  }
}
.auth{
  .auth-title{
    display: flex;
    margin: 40px;
    font-size: 35px;
    line-height: 66px;
    img{
      height: 100px;
      margin-top: -20px;
    }
  }
}

.button-account{
  display: flex;
  .btn-account{
    margin-right: 20%;
    border: none;
    img{
      width: 33px;
      margin: -10px -16px;
    }
    span{
      font-size: 20px;
      margin: 0px 22px;
      color: #1a75ff;
    }
  }
}
.page-account{
  min-height: calc(780px - 102px);
}
