.title-create-product{
  color: #e70d0d;
  border-bottom: #e70d0d 1px solid;
}
.form-add-product{
  // border: #e70d0d 1px solid;
  // width: 600px;
  padding: 30px 80px 0 0;
  // margin: 5% 0 5% 30%;
  // box-shadow: 10px 10px rgb(186, 183, 183);
  // border-radius: 5px;
}
.ant-input-number.ant-input-number-in-form-item {
  width: 100%;
}
