.product-detail{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  h3{
    color: #1a75ff;
  }
  p{
    font-size: 18px;
    span{
      color: #1a75ff;
    }
  }
  .product-detail-img{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    img{
      transition: transform 0.5s;
    }
    img:hover{
      transform: translate(30px,10px);     
    }
  }
  .product-desc{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
  }
}
.back-home{  
  img{
    width: 40px;
  }
}
