.Product-Top{
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0eb;
  padding: 15px 15px;
  .Top-title{
    display: flex;
    justify-content: space-between;
    .Title-dataSource{
      color: #1a75ff;
    }
  } 
  .ant-btn.ant-btn-primary {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    color: #1a75ff;
    background: white;
    border: 1px solid #1a75ff;
    
    display: flex;
    float: right;
    .btn-img-create{
      width: 30px;
      margin-top: 2px;
    }
    .p-img-create{
      margin-top: 5px;
    }
    &:hover{
      background-color: white;
      color: #e70d0d;
      border: 1px solid #e70d0d;
    }
  } 
}
.Product-table{
  width: 100%;
  margin-right: 5%;
  &tr,th,td{
    border: 1px solid #e0e0eb;
  }
  .product-img:hover{
    transform: scale(1.1);
   }
   .ant-table-pagination.ant-pagination {
     margin-right: 40%;
   }
   .action-product{
    display: flex;
    flex-direction: column;
    margin-left: 23%;
    width: 50%;
    &:hover{
      transform: scale(1.5);
    }
     
   }
   .ant-input-number{
     width: 100%;
   }
}
.anticon-close {
  display: none;
}


