.title-update-product{
  color: #1a75ff;
  border-bottom: #1a75ff 1px solid;
}
.form-update-product{
  border: #e70d0d 1px solid;
  width: 600px;
  padding: 30px 50px 0 0;
  margin: 5% 0 5% 30%;
  box-shadow: 10px 10px rgb(186, 183, 183);
  border-radius: 5px;
}
.ant-input-number.ant-input-number-in-form-item {
  width: 100%;
}
.btn-submit-update{
  background-color: #e70d0d;
  color: white;
  margin: 0 -12%;
  &:hover{
    background-color: white;
    color: #e70d0d;
    border: #e70d0d 1px solid;
  }
}
