.page-siderbar{
  margin-top: 50px;
  color: #e70d0d;
}

.action-siderbar-list{
  width: 35px;
  margin-top: 5px;
}
.action-siderbar-list.logout{
  width: 30px;
  margin: 10px 0 0 5px;
}
.action-siderbar-item{
  width: 25%;  
  display: flex;
  p{
    margin-top: 5px;
  }
}
